<div class="secondary_menu">
  <%= link_to "Add a movie", new_list_bookmark_path(@list) %>
</div>

<h1><%= @list.name %></h1>

<div class='movielist'>
  <% @list.bookmarks.each do |bookmark| %>
    <div class='moviecard'>
      <%= image_tag("https://image.tmdb.org/t/p/w500/#{bookmark.movie.poster_url}") %>
      <div class="details">
        <p><%= bookmark.movie.title %></p>
        <p><%= bookmark.comment %></p>
      </div>
      <div class="topleft">
        <div class='rating'><%= bookmark.movie.rating.round(1)%></div>
        <%= link_to "Delete",
          bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class: "delete"
        %>
      </div>
    </div>
  <% end %>
</div>

<div class="reviewlist">
  <% @list.reviews.each do |review| %>
    <div>
      <p><%= review.comment %></p>
      <p><%= review.rating %></p>
    </div>
  <% end %>
</div>

<%= simple_form_for [@list, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>
